-@ val assets:String = "/assets/"
- import model._
-@ val customer:Customer
-@ val points:Int
-@ val isNew:Boolean
- val nickname = customer.email.map{ email => email.substring(0, email.indexOf('@')) }.getOrElse{ "" };

:javascript
  
  simpleCart({
      cartColumns: [
        { attr: "name", label: "Item"},
        { view: "currency", attr: "price", label: "Price" },
        { attr: "quantity", label: "Qty"},
        { view: "currency", attr: "total", label: "SubTotal" },
      ],

      cartStyle: "div",

      checkout: {
        type: "SendForm",
        url: "/checkout"
      },

      currency: "CAD",

      language: "english-us",

      beforeAdd       : null,
      afterAdd        : null,
      load            : null,
      beforeSave      : null,
      afterSave       : null,
      update          : null,
      ready           : null,
      checkoutSuccess : null,
      checkoutFail    : null,
      beforeCheckout  : null,
      beforeRemove    : null
  });

  $(document).ready( function() {
    $("#checkout-btn").hide()  
  });

.row
  .span12.underline 
    .title Confirm
    .subtitle.muted 
      em your purchase 
.row
  .span3.sidebar
    
    h4 Credit Card:
    - customer.creditCard.map { cc =>
    p 
    = cc.cardNo.substring(0,4) + "********" + cc.cardNo.substring(11,15)
    br
    | #{cc.cardHolderName}
    br
    | #{cc.exp}
    - } getOrElse {
    a(href="#") Enter Credit Card info
    - }
    h4 Shipping Address
    - customer.shippingAddr.map { addr =>
    p
    | #{addr.street}
    br
    | #{addr.region}, #{addr.country}
    br
    | #{addr.code}
    - } getOrElse {
    a(href="#") Enter Shipping Address
    - }
    - customer.phone.map { phone =>
    h4 Phone Number
    p #{phone}
    - }
  .span8.pull-right
    - if (! isNew) {
    | Welcome back #{nickname}, you have earned 
    span.btn #{points} 
    | rewards points!
    - } else if (points > 0) {
    | Welcome #{nickname}! A rewards account has been created for you, and you have
    span.btn #{points}
    | points!
    - } else {
    .muted
      | Provide a verified email address to sign up for a rewards account.
    - }
    .row.checkout-detail
      .simpleCart_items
    .row
      .total-amount.pull-right  
        span.simpleCart_total
      .total-text.pull-right 
        | Total
    - if (points > 0) {
    .row
      .total-amount.pull-right  
        | save 10%
      .total-text.pull-right(style="color: green; font-weight: bold") 
        | Rewards:    
    - }
    .row.spacer
      p If this information on the left is correct, click Proceed. 
      p 
        | Your credit card will be charged, and a confirmation email sent to 
        - customer.email.map { email =>
        -   if (customer.isEmailVerified) { 
        span(style="color: green") #{customer.email}
        -   } else {
        span(style="color: red") #{customer.email} (unverified)
        -   }
        - }.getOrElse {
        input(type="text" placeholder="email")
        - }
      p and the items shipped to the specified address.
      p 
      | Thank-you for your business!
      .row
        .pull-right
          a.btn.btn-danger(href="/") Cancel
          a.btn.btn-success(href="#") Proceed
    